![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [118]:
# Import necessary packages
import pandas as pd
import numpy as np

# Get DF by multiple file type files.
df_price = pd.read_csv('data/airbnb_price.csv', index_col= 'listing_id')
df_reviews = pd.read_csv('data/airbnb_last_review.tsv', sep = '\t', index_col = 'listing_id', parse_dates= ['last_review'])
df_room = pd.read_excel('data/airbnb_room_type.xlsx', index_col = 'listing_id')


# Df_merge on listing_id columns
df_merge = df_price.merge(df_reviews, on='listing_id', how='inner').merge(df_room, on='listing_id', how='inner')

# Visualize df_merge
df_merge.head()

                  price  ...        room_type
listing_id               ...
2595        225 dollars  ...  Entire home/apt
3831         89 dollars  ...  Entire home/apt
5099        200 dollars  ...  Entire home/apt
5178         79 dollars  ...     private room
5238        150 dollars  ...  Entire home/apt

[5 rows x 6 columns]

In [119]:
# First requirements

first_reviewed = df_merge['last_review'].min()
last_reviewed = df_merge['last_review'].max()

In [120]:
# Second requirements

# Visualize the 'room_type'
df_merge['room_type'].value_counts()

# Homogenize str 'room_type' with str.lower()
df_merge['room_type'] = df_merge['room_type'].str.lower()

# Variable private_room with numbers of private room
nb_private_room = df_merge['room_type'].value_counts()[1]

In [121]:
# Third requirements

# Price columns without dollars and type int to get average price
df_merge['price'] = df_merge['price'].str.replace(' dollars', '').astype('int')

# Average_price round 2 decimals
avg_price = round(df_merge['price'].mean(), 2)

In [122]:
# Fourth requirements

# Dict with the variables. Keys[columns], values[variables]
review_dates = pd.DataFrame({
    'first_reviewed' : [first_reviewed], 
    'last_reviewed' : [last_reviewed], 
    'nb_private_rooms' : [nb_private_room], 
    'avg_price' : [avg_price]
}
)

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78